#include <windows.h>
101 RCDATA "../packaging/Uninstall.ps1"
1 ICON "uninstall.ico"
1 VERSIONINFO
 FILEVERSION 1,3,0,0
 PRODUCTVERSION 1,3,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
BEGIN
 BLOCK "StringFileInfo"
 BEGIN
  BLOCK "040904B0"
  BEGIN
   VALUE "CompanyName", "NativePerfMonitor Project"
   VALUE "FileDescription", "Uninstall Native Performance Monitor 1.3"
   VALUE "FileVersion", "1.3.0"
   VALUE "InternalName", "Uninstall"
   VALUE "OriginalFilename", "Uninstall.exe"
   VALUE "ProductName", "NativePerfMonitor"
   VALUE "ProductVersion", "1.3.0"
  END
 END
 BLOCK "VarFileInfo"
 BEGIN
  VALUE "Translation", 0x409, 1200
 END
END
